# Android
/android/**/gradle-wrapper.jar
/android/.gradle
/android/captures/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/**/GeneratedPluginRegistrant.java
/android/**/FlutterGeneratedPluginRegistrant.java

# iOS
/ios/**/*.mode1v3
/ios/**/*.mode2v3
/ios/**/*.moved-aside
/ios/**/*.pbxuser
/ios/**/*.perspectivev3
/ios/**/*sync/
/ios/**/.sconsign.dblite
/ios/**/.tags*
/ios/**/.vagrant/
/ios/**/DerivedData/
/ios/**/Icon?
/ios/**/Pods/
/ios/**/.symlinks/
/ios/**/profile
/ios/**/xcuserdata
/ios/.generated/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets/
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.*

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/fvm/
flutter_*.png
**/flutter_*.png

# IDE & Editor
.vscode/
.idea/
*.iml
*.swp
*.swo
*.sublime-workspace
*.sublime-project
.DS_Store

# Environment & Local Config
.env
.env.local
.env.*.local
**/.env/

# Miscellaneous
*.log
*.pyc
*.swift
*.lock
*.keystore
*.jks
*.p12
*.key
*.cer
*.csv
*.tsv
*.xlsx
*.pdf
*.doc
*.docx
*.zip
*.tar.gz
*.rar
*.ipa
*.apk
*.aab
*.dmg
*.app